# Python Basics: NaNs and Statistics #

In [1]:
# Import Libraries
import pandas as pd

In [3]:
# Import files

# Define a path
path = r'..\additional_data\stocks_returns.csv'

# Read the CSV
dataframe = pd.read_csv(path)
dataframe.set_index('Date', inplace=True)
dataframe.index = pd.to_datetime(dataframe.index)

# Show it
dataframe

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

### Missing Values ###

In [31]:
# Detect NaNs
dataframe.isna().sum().sort_values(ascending=False)

GEHC    6028
NMK     5768
OGN     5627
ABNB    5521
PLTR    5471
        ...
KMB        0
KLAC       0
CI         0
KIM        0
KEY        0
Length: 611, dtype: int64

In [20]:
# Drop Missing Values
dataframe.dropna() # This is an empty dataframe. Why?

Empty DataFrame
Columns: [A, AAL, AAP, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADBE, ADI, ADM, ADP, ADSK, AEE, AEP, AES, AFL, AIG, AIT, AIV, AIZ, AJG, AKAM, ALB, ALGN, ALK, ALL, ALLE, AMAT, AMCR, AMD, AME, AMG, AMGN, AMT, AMZN, AN, ANET, ANF, ANSS, AON, AOS, APA, APD, APH, APO, APTV, ARE, ASH, ATGE, ATO, AVB, AVGO, AVY, AWK, AXON, AXP, AYI, AZO, BA, BAC, BALL, BAX, BBWI, BBY, BC, BDX, BEN, BG, BHF, BIIB, BIO, BK, BKNG, BKR, BLDR, BLK, BMY, BRO, BSX, BWA, BX, BXP, C, CAG, CAH, CAR, CARR, CAT, CB, CBOE, CBRE, CCEP, CCI, CCK, CCL, CCU, CDNS, CDW, ...]
Index: []

[0 rows x 611 columns]

In [21]:
# Drop Rows with Any
dataframe.dropna(axis=0, how="any")

Empty DataFrame
Columns: [A, AAL, AAP, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADBE, ADI, ADM, ADP, ADSK, AEE, AEP, AES, AFL, AIG, AIT, AIV, AIZ, AJG, AKAM, ALB, ALGN, ALK, ALL, ALLE, AMAT, AMCR, AMD, AME, AMG, AMGN, AMT, AMZN, AN, ANET, ANF, ANSS, AON, AOS, APA, APD, APH, APO, APTV, ARE, ASH, ATGE, ATO, AVB, AVGO, AVY, AWK, AXON, AXP, AYI, AZO, BA, BAC, BALL, BAX, BBWI, BBY, BC, BDX, BEN, BG, BHF, BIIB, BIO, BK, BKNG, BKR, BLDR, BLK, BMY, BRO, BSX, BWA, BX, BXP, C, CAG, CAH, CAR, CARR, CAT, CB, CBOE, CBRE, CCEP, CCI, CCK, CCL, CCU, CDNS, CDW, ...]
Index: []

[0 rows x 611 columns]

In [22]:
# Drop Columns with Any
dataframe.dropna(axis=1, how="any")

,AAPL,ABT,ACGL,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,...,WST,WY,X,XEL,XOM,XRAY,XRX,YUM,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,0.048789,0.001281,-0.039193,-0.021506,0.028632,0.003752,-0.009288,-0.001397,-0.008823,-0.002625,...,-0.003578,0.008733,0.044314,0.002275,-0.008643,0.009709,0.018928,0.019293,0.016878,-0.003114
1999-01-06,-0.036742,-0.007712,0.000000,-0.036462,0.023906,0.007463,0.023060,0.020735,-0.001478,0.007853,...,0.001790,0.008658,0.113257,0.004535,0.039154,0.009615,0.019087,0.015170,0.002090,0.001039
1999-01-07,0.074963,-0.012987,-0.005831,0.020998,-0.023906,-0.003724,0.016579,-0.001373,-0.008916,-0.009168,...,0.000000,0.003688,-0.018392,-0.004535,-0.001670,-0.002395,-0.004610,-0.005031,0.022705,-0.007295
1999-01-08,0.000000,-0.003929,-0.005865,0.014185,-0.030708,-0.007491,-0.010519,0.000000,-0.008995,-0.003955,...,-0.008984,0.083529,0.047556,-0.006841,-0.005870,-0.012063,-0.004631,0.002519,0.104544,0.002090
1999-01-11,0.019256,-0.013211,-0.048202,0.003834,-0.002082,-0.003766,-0.010631,-0.029270,-0.021310,-0.001322,...,0.005400,0.000000,-0.040638,-0.023150,-0.042085,-0.032062,0.014337,0.026073,-0.045120,-0.027515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011413,0.003929,0.006278,0.002683,0.014781,0.004355,0.007822,0.012494,0.013291,-0.005291,...,0.009663,0.006390,0.018946,0.007210,0.000940,-0.002642,-0.023556,0.008480,0.012187,0.010791
2024-12-26,0.003171,0.004434,0.002802,0.004944,-0.000138,-0.000395,0.002594,-0.003159,-0.002203,-0.003362,...,0.001981,-0.003190,-0.030811,-0.000440,0.000845,0.013663,-0.006522,0.007380,0.003559,0.006889
2024-12-27,-0.013331,-0.002432,-0.006369,-0.008208,-0.004919,-0.000593,-0.003539,-0.008999,-0.006305,0.004876,...,-0.000630,-0.006410,0.004506,-0.000587,-0.000094,-0.003163,-0.002183,-0.005678,-0.019799,-0.012179
2024-12-30,-0.013352,-0.019229,-0.004885,-0.001524,-0.020627,-0.010134,-0.010897,-0.000202,-0.005564,-0.004876,...,-0.013292,-0.003579,-0.003539,-0.008105,-0.006785,-0.015430,-0.026580,-0.012726,-0.013507,-0.006606
2024-12-31,-0.007083,0.002744,0.004993,-0.002515,-0.000471,0.008947,-0.000819,-0.006609,-0.005370,0.001845,...,-0.003839,0.009279,0.091112,-0.001036,0.016969,0.017540,-0.026918,0.004782,0.006155,-0.001290

In [23]:
# Drop Rows if All
dataframe.dropna(axis=0, how="all")

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [24]:
# Drop Columns if All
dataframe.dropna(axis=1, how="all")

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [26]:
# Drop with a Threshold
dataframe.dropna(axis=0, thresh=500)  # keep rows with at least 2 non-NaN

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2004-11-01,-0.014065,NaN,0.007132,0.000954,NaN,NaN,0.002577,-0.004268,-0.006631,0.005518,...,0.001169,-0.008160,-0.000192,0.031982,NaN,0.001149,-0.016503,-0.000755,0.002114,NaN
2004-11-02,0.008463,NaN,-0.012772,0.019822,NaN,NaN,-0.010112,-0.005629,0.015677,0.012173,...,-0.005859,-0.008021,-0.003081,0.007187,NaN,-0.004142,-0.002887,0.016669,-0.008333,NaN
2004-11-03,-0.003215,NaN,0.013533,0.033272,NaN,NaN,0.030263,0.027573,0.008559,0.002277,...,0.019204,0.017196,0.011126,0.023166,NaN,0.019861,0.022993,0.021498,0.010142,NaN
2004-11-04,0.004819,NaN,0.029241,-0.015672,NaN,NaN,0.019079,0.001568,0.019691,0.016483,...,0.018276,0.018500,0.004188,0.042348,NaN,0.032906,0.024984,-0.008397,0.008995,NaN
2004-11-05,0.009966,NaN,0.023129,0.004947,NaN,NaN,0.000000,0.001565,-0.005587,0.006347,...,-0.001133,0.003977,0.010018,-0.021573,NaN,0.006106,0.022662,0.010395,-0.009146,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [28]:
# Using Subset
drop_subset = dataframe.dropna(subset=["ABNB", "UBER"])  # drop rows where A or B is NaN

drop_subset

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-11,-0.002781,-0.053666,-0.003546,-0.006758,-0.010757,-0.038461,0.004683,-0.015290,-0.001341,-0.002015,...,-0.002766,-0.004783,-0.021112,-0.004384,0.002745,-0.004425,-0.029967,0.006430,-0.022771,0.008878
2020-12-14,-0.014795,-0.020741,-0.000635,-0.005160,-0.020329,-0.068736,-0.002152,-0.005348,-0.008497,0.021844,...,0.000615,-0.036740,-0.013880,-0.000879,-0.013700,-0.004634,0.006402,0.015506,-0.023548,-0.000188
2020-12-15,0.005553,0.018393,0.014367,0.048876,-0.013332,-0.040822,0.006161,0.039713,0.013448,-0.007801,...,0.014955,0.019236,0.029988,0.043878,0.026714,0.017663,0.035954,-0.000026,0.021867,0.015306
2020-12-16,-0.001279,-0.008857,0.009217,-0.000547,0.017546,0.100469,-0.001024,0.013366,0.001618,0.014930,...,-0.006534,0.015218,-0.012339,-0.031206,-0.007546,0.000372,0.007011,-0.015877,0.006229,-0.008308
2020-12-17,0.014648,-0.003565,-0.004542,0.006939,0.002386,0.063591,0.013326,0.004228,0.066519,0.011083,...,0.021419,-0.005047,0.002067,0.004333,0.007345,0.012673,0.016722,-0.005260,0.000000,0.012867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [33]:
# Fill Missing Values
ffill_df = dataframe.ffill()
ffill_df

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [34]:
# Fill Missing Values
bfill_df = dataframe.bfill()
bfill_df

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,-0.085979,0.060320,0.027477,0.048789,-0.008292,-0.038461,0.001281,-0.039193,-0.010603,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,0.044362,0.019293,-0.057396,0.016878,-0.003114,0.000322
1999-01-06,-0.085979,0.060320,0.027477,-0.036742,-0.008292,-0.038461,-0.007712,0.000000,-0.010603,-0.036462,...,0.004535,0.039154,0.009615,0.019087,0.044362,0.015170,-0.057396,0.002090,0.001039,0.000322
1999-01-07,-0.085979,0.060320,0.027477,0.074963,-0.008292,-0.038461,-0.012987,-0.005831,-0.010603,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,0.044362,-0.005031,-0.057396,0.022705,-0.007295,0.000322
1999-01-08,-0.085979,0.060320,0.027477,0.000000,-0.008292,-0.038461,-0.003929,-0.005865,-0.010603,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,0.044362,0.002519,-0.057396,0.104544,0.002090,0.000322
1999-01-11,-0.085979,0.060320,0.027477,0.019256,-0.008292,-0.038461,-0.013211,-0.048202,-0.010603,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,0.044362,0.026073,-0.057396,-0.045120,-0.027515,0.000322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [37]:
# Fill with Any Value
zfill_df = dataframe.fillna(0)
zfill_df

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,0.000000,0.000000,0.000000,0.048789,0.000000,0.000000,0.001281,-0.039193,0.000000,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,0.000000,0.019293,0.000000,0.016878,-0.003114,0.000000
1999-01-06,0.000000,0.000000,0.000000,-0.036742,0.000000,0.000000,-0.007712,0.000000,0.000000,-0.036462,...,0.004535,0.039154,0.009615,0.019087,0.000000,0.015170,0.000000,0.002090,0.001039,0.000000
1999-01-07,0.000000,0.000000,0.000000,0.074963,0.000000,0.000000,-0.012987,-0.005831,0.000000,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,0.000000,-0.005031,0.000000,0.022705,-0.007295,0.000000
1999-01-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.003929,-0.005865,0.000000,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,0.000000,0.002519,0.000000,0.104544,0.002090,0.000000
1999-01-11,0.000000,0.000000,0.000000,0.019256,0.000000,0.000000,-0.013211,-0.048202,0.000000,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,0.000000,0.026073,0.000000,-0.045120,-0.027515,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [38]:
# Fill with mean
fill_mean = dataframe.fillna(dataframe.mean(numeric_only=True))
fill_mean

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,0.000257,-0.000009,0.000236,0.048789,0.000698,-0.000095,0.001281,-0.039193,0.000591,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,0.000524,0.019293,0.000238,0.016878,-0.003114,0.000583
1999-01-06,0.000257,-0.000009,0.000236,-0.036742,0.000698,-0.000095,-0.007712,0.000000,0.000591,-0.036462,...,0.004535,0.039154,0.009615,0.019087,0.000524,0.015170,0.000238,0.002090,0.001039,0.000583
1999-01-07,0.000257,-0.000009,0.000236,0.074963,0.000698,-0.000095,-0.012987,-0.005831,0.000591,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,0.000524,-0.005031,0.000238,0.022705,-0.007295,0.000583
1999-01-08,0.000257,-0.000009,0.000236,0.000000,0.000698,-0.000095,-0.003929,-0.005865,0.000591,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,0.000524,0.002519,0.000238,0.104544,0.002090,0.000583
1999-01-11,0.000257,-0.000009,0.000236,0.019256,0.000698,-0.000095,-0.013211,-0.048202,0.000591,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,0.000524,0.026073,0.000238,-0.045120,-0.027515,0.000583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

### Statistics ###

In [4]:
# Choose a stock
stock = dataframe['AAPL']

In [5]:
# -------------------------------
# 1. CENTRAL TENDENCY MEASURES
# -------------------------------
print("\n--- Central Tendency ---")
print("Mean Returns:", stock.mean())
print("Median Returns:", stock.median())
print("Mode Returns:", stock.mode()[0])  # mode returns a series

--- Central Tendency ---
Mean Returns: 0.0010232607772254533
Median Returns: 0.00100069862786495
Mode Returns: 0.0

In [8]:
# -------------------------------
# 2. DISPERSION MEASURES
# -------------------------------
print("\n--- Dispersion ---")
print("Returns Standard Deviation:", stock.std())
print("Returns Variance:", stock.var())
print("Returns Range:", stock.max() - stock.min())

--- Dispersion ---
Returns Standard Deviation: 0.025822854286306134
Returns Variance: 0.0006668198034917992
Returns Range: 0.8649009509025308

In [13]:
# -------------------------------
# 3. CORRELATION
# -------------------------------
print("\n--- Correlation ---")
correlation_matrix = dataframe[['AAPL', 'META', 'NVDA', 'TSLA']].corr()
print(correlation_matrix)
print("Correlation AAPL vs NVDA:", dataframe["AAPL"].corr(dataframe["NVDA"]))

--- Correlation ---
          AAPL      META      NVDA      TSLA
AAPL  1.000000  0.426979  0.396617  0.359908
META  0.426979  1.000000  0.423782  0.281880
NVDA  0.396617  0.423782  1.000000  0.366242
TSLA  0.359908  0.281880  0.366242  1.000000
Correlation AAPL vs NVDA: 0.39661688424800273

In [15]:
# -------------------------------
# 4. DESCRIPTIVE SUMMARY
# -------------------------------
print("\n--- Descriptive Summary ---")
print(dataframe[['AAPL', 'META', 'NVDA', 'TSLA']].describe())

--- Descriptive Summary ---
              AAPL         META         NVDA         TSLA
count  6540.000000  3174.000000  6527.000000  3651.000000
mean      0.001023     0.000861     0.001253     0.001516
std       0.025823     0.025121     0.037613     0.035985
min      -0.731248    -0.306391    -0.434383    -0.236518
25%      -0.010140    -0.009880    -0.016398    -0.016269
50%       0.001001     0.000988     0.001305     0.001254
75%       0.013118     0.012698     0.018177     0.019228
max       0.133653     0.259371     0.353573     0.218292

In [19]:
# -------------------------------
# 5. APPLY BASIC STATISTICS USING APPLY
# -------------------------------
# Create a custom function
def z_score(x):
    return (x - x.mean()) / x.std()

df_z = dataframe[['AAPL', 'META', 'NVDA', 'TSLA']].apply(z_score)
print("\nZ-scores for each column:")

df_z.dropna()

Z-scores for each column:

                AAPL      META      NVDA      TSLA
Date
2012-05-21  2.153238 -4.666939  0.424895  1.151901
2012-05-22 -0.338151 -3.746494 -0.359817  1.852558
2012-05-23  0.893946  1.229549  0.615710  0.155659
2012-05-24 -0.396926  1.226822 -0.748129 -0.713087
2012-05-25 -0.247745 -1.407480  0.595855 -0.476859
...              ...       ...       ...       ...
2024-12-24  0.402335  0.486563  0.071170  1.930639
2024-12-26  0.083159 -0.323516 -0.088365 -0.536423
2024-12-27 -0.555861 -0.268521 -0.593986 -1.452292
2024-12-30 -0.556696 -0.607131  0.059658 -0.974990
2024-12-31 -0.313914 -0.421941 -0.659420 -0.960565

[3174 rows x 4 columns]