# Python Basics: DataFrames #

In [2]:
# Import Libraries
import pandas as pd
import numpy as np

In [3]:
# Lists
l1 = [1,2,3,4,5,6,7]
l2 = ["a","b","c","d","e","f","g"]
l3 = [True, False, True, True, False, True, False]

# Appends
l1.append(8)
l2.append("h")
l3.append(False)

# Zip lists
l_zip = list(zip(l1, l2, l3))

l_zip

[(1, 'a', True),
 (2, 'b', False),
 (3, 'c', True),
 (4, 'd', True),
 (5, 'e', False),
 (6, 'f', True),
 (7, 'g', False),
 (8, 'h', False)]

In [4]:
# Dictionaries
stocks_dictionary = {
    "ticker": ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA"],
    "name": ["Apple Inc.", "Microsoft Corporation", "Alphabet Inc.", "Amazon.com, Inc.", "Tesla, Inc."],
    "industry": ["Technology", "Technology", "Technology", "Consumer Discretionary", "Automotive"]
}

stocks_dictionary

{'ticker': ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA'],
 'name': ['Apple Inc.',
  'Microsoft Corporation',
  'Alphabet Inc.',
  'Amazon.com, Inc.',
  'Tesla, Inc.'],
 'industry': ['Technology',
  'Technology',
  'Technology',
  'Consumer Discretionary',
  'Automotive']}

In [5]:
# Nested dictionaries
nested_dictionary = {
    "stocks": stocks_dictionary,
    "etfs": {
        "ETFs": {
            "Mexico": "EWW", 
            "South Korea": "EWY", 
            "Brazil": "EWZ", 
            "Japan": "EWJ"
        }, 
        "year": 2023, 
        "currency": 'USD'
    }
}

# Access nested data
mexico_etf = nested_dictionary["etfs"]["ETFs"]['Mexico']

mexico_etf

'EWW'

In [6]:
# Operations with Dictionaries
dicc = { 
    "individual": list(range(1,11)),                # Range from 1 to 10
    "height": np.random.randint(150,190, size=10),  # Random Numbers from 150 to 190 
    "weight": np.random.randint(60,110, size=10)    # Random Numbers from 60 to 110
}

# Body Mass Index
dicc["BMI"] = dicc["weight"]/((dicc["height"]/100)**2)

# Create a DataFrame from Dictionaries
df = pd.DataFrame(dicc)

df

   individual  height  weight        BMI
0           1     186      68  19.655451
1           2     173      71  23.722811
2           3     180      91  28.086420
3           4     157      81  32.861374
4           5     159     106  41.928721
5           6     179      85  26.528510
6           7     186     103  29.772228
7           8     178      91  28.721121
8           9     185     105  30.679328
9          10     152      64  27.700831

In [7]:
# Import files

# Define a path
path = r'..\additional_data\stocks_returns.csv'

# Read the CSV
dataframe = pd.read_csv(path)

# Show it
dataframe

,Date,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1,1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
2,1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
3,1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
4,1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6535,2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
6536,2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
6537,2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
6538,2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
6539,2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [8]:
# Sort Values
dataframe.sort_values(by='AAPL', ascending=False)

,Date,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
196,1999-10-14,NaN,NaN,NaN,0.133653,NaN,NaN,-0.008110,-0.008734,NaN,...,0.008683,0.010135,-0.017143,-0.023331,NaN,0.009584,NaN,0.002554,0.001106,NaN
2458,2008-10-13,0.129967,0.210895,0.047430,0.130194,NaN,NaN,0.091903,0.117802,0.151577,...,0.074278,0.158631,0.063132,0.075831,NaN,0.056755,0.116824,0.083504,-0.042234,NaN
291,2000-03-01,0.049305,NaN,NaN,0.128269,NaN,NaN,0.024322,-0.024897,NaN,...,-0.021583,0.009909,0.007291,0.000580,NaN,0.057028,NaN,0.006551,-0.045791,NaN
1452,2004-10-14,-0.013014,NaN,-0.020173,0.123608,NaN,NaN,-0.003408,-0.040467,-0.017282,...,-0.007560,0.004733,-0.001727,-0.011950,NaN,0.004727,-0.013383,-0.014509,-0.009518,NaN
577,2001-04-19,0.025983,NaN,NaN,0.120948,NaN,NaN,-0.025269,-0.038221,NaN,...,-0.028657,-0.008020,0.003778,0.329754,NaN,0.024293,NaN,0.050213,0.036120,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,2002-06-19,-0.039141,NaN,0.015037,-0.162956,NaN,NaN,-0.028798,-0.020134,-0.026114,...,-0.076483,-0.014123,0.008101,-0.047233,NaN,-0.001539,0.002342,-0.034721,-0.005758,NaN
486,2000-12-06,-0.057225,NaN,NaN,-0.172080,NaN,NaN,-0.048849,0.000000,NaN,...,-0.013699,-0.024339,0.054529,-0.026668,NaN,-0.005500,NaN,-0.088337,-0.012918,NaN
639,2001-07-18,-0.034837,NaN,NaN,-0.188395,NaN,NaN,0.027533,-0.006450,NaN,...,-0.004217,-0.012386,-0.005699,-0.007051,NaN,-0.011320,NaN,-0.018802,0.004927,NaN
2448,2008-09-29,-0.062020,-0.088795,-0.032931,-0.197470,NaN,NaN,-0.034249,-0.026227,-0.039980,...,-0.036241,-0.085243,-0.038663,-0.067363,NaN,-0.054804,-0.057752,-0.064102,-0.250049,NaN
439,2000-09-29,0.020320,NaN,NaN,-0.731248,NaN,NaN,0.018568,0.016000,NaN,...,0.009700,-0.000351,-0.003126,-0.032790,NaN,0.031090,NaN,0.005215,-0.011845,NaN

In [9]:
# Show the Shape
dataframe.shape

(6540, 612)

In [10]:
# Information
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6540 entries, 0 to 6539
Columns: 612 entries, Date to ZTS
dtypes: float64(611), object(1)
memory usage: 30.5+ MB

In [11]:
# Head: Show the First 5 observations
dataframe.head(5)

,Date,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1,1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
2,1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
3,1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
4,1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN

In [12]:
# Tail: Show the Last 5 observations
dataframe.tail(5)

,Date,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
6535,2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
6536,2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
6537,2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
6538,2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
6539,2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [13]:
# DataFrame Columns
dataframe.columns

Index(['Date', 'A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABNB', 'ABT', 'ACGL', 'ACN',
       ...
       'XEL', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=612)

In [14]:
# Set Index
dataframe = dataframe.set_index('Date')

# Index to Date Time
dataframe.index = pd.to_datetime(dataframe.index)

dataframe

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.011082,0.005780,-0.000457,0.011413,0.008985,0.003488,0.003929,0.006278,0.007940,0.002683,...,0.007210,0.000940,-0.002642,-0.023556,0.005432,0.008480,0.004484,0.012187,0.010791,0.002553
2024-12-26,-0.001986,0.000000,0.011595,0.003171,-0.004454,0.002442,0.004434,0.002802,-0.003324,0.004944,...,-0.000440,0.000845,0.013663,-0.006522,0.002705,0.007380,-0.000466,0.003559,0.006889,0.004966
2024-12-27,-0.002137,0.000000,-0.004077,-0.013331,-0.006663,-0.014403,-0.002432,-0.006369,-0.011862,-0.008208,...,-0.000587,-0.000094,-0.003163,-0.002183,-0.007966,-0.005678,-0.003549,-0.019799,-0.012179,-0.005574
2024-12-30,-0.008298,0.015442,0.044175,-0.013352,-0.010220,-0.011878,-0.019229,-0.004885,-0.010414,-0.001524,...,-0.008105,-0.006785,-0.015430,-0.026580,-0.010693,-0.012726,-0.011602,-0.013507,-0.006606,-0.014442
2024-12-31,0.001251,-0.010842,0.026571,-0.007083,0.008477,-0.003039,0.002744,0.004993,-0.001988,-0.002515,...,-0.001036,0.016969,0.017540,-0.026918,-0.002238,0.004782,0.002180,0.006155,-0.001290,0.004244

In [15]:
# Choose a columns
dataframe['NVDA']

Date
1999-01-05         NaN
1999-01-06         NaN
1999-01-07         NaN
1999-01-08         NaN
1999-01-11         NaN
                ...
2024-12-24    0.003930
2024-12-26   -0.002070
2024-12-27   -0.021088
2024-12-30    0.003497
2024-12-31   -0.023550
Name: NVDA, Length: 6540, dtype: float64

In [16]:
# Create a list of stocks
stocks = ['AAPL', 'GOOG', 'META', 'MSFT', 'TSLA']

stocks

['AAPL', 'GOOG', 'META', 'MSFT', 'TSLA']

In [17]:
# We can create a subset of selected columns from the original dataframe
columns_subset = dataframe[stocks]

columns_subset

                AAPL      GOOG      META      MSFT      TSLA
Date
1999-01-05  0.048789       NaN       NaN  0.038266       NaN
1999-01-06 -0.036742       NaN       NaN  0.031908       NaN
1999-01-07  0.074963       NaN       NaN -0.004971       NaN
1999-01-08  0.000000       NaN       NaN -0.004162       NaN
1999-01-11  0.019256       NaN       NaN -0.015973       NaN
...              ...       ...       ...       ...       ...
2024-12-24  0.011413  0.008029  0.013084  0.009330  0.070991
2024-12-26  0.003171 -0.002382 -0.007266 -0.002781 -0.017787
2024-12-27 -0.013331 -0.015647 -0.005885 -0.017453 -0.050745
2024-12-30 -0.013352 -0.006982 -0.014391 -0.013328 -0.033569
2024-12-31 -0.007083 -0.011746 -0.009739 -0.007869 -0.033050

[6540 rows x 5 columns]

In [18]:
# We can also create a subset of selected observations: using iloc
observations_subset = dataframe.iloc[0:100]

observations_subset

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.048789,NaN,NaN,0.001281,-0.039193,NaN,-0.021506,...,0.002275,-0.008643,0.009709,0.018928,NaN,0.019293,NaN,0.016878,-0.003114,NaN
1999-01-06,NaN,NaN,NaN,-0.036742,NaN,NaN,-0.007712,0.000000,NaN,-0.036462,...,0.004535,0.039154,0.009615,0.019087,NaN,0.015170,NaN,0.002090,0.001039,NaN
1999-01-07,NaN,NaN,NaN,0.074963,NaN,NaN,-0.012987,-0.005831,NaN,0.020998,...,-0.004535,-0.001670,-0.002395,-0.004610,NaN,-0.005031,NaN,0.022705,-0.007295,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,-0.003929,-0.005865,NaN,0.014185,...,-0.006841,-0.005870,-0.012063,-0.004631,NaN,0.002519,NaN,0.104544,0.002090,NaN
1999-01-11,NaN,NaN,NaN,0.019256,NaN,NaN,-0.013211,-0.048202,NaN,0.003834,...,-0.023150,-0.042085,-0.032062,0.014337,NaN,0.026073,NaN,-0.045120,-0.027515,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-05-21,NaN,NaN,NaN,0.033265,NaN,NaN,-0.010554,-0.072969,NaN,-0.012539,...,0.004890,0.033797,-0.018433,-0.001037,NaN,0.031236,NaN,-0.002010,-0.012073,NaN
1999-05-24,NaN,NaN,NaN,-0.046587,NaN,NaN,-0.044753,0.019724,NaN,-0.005536,...,0.014528,-0.038496,0.002323,-0.046768,NaN,-0.033427,NaN,0.001005,-0.002026,NaN
1999-05-25,NaN,NaN,NaN,-0.010486,NaN,NaN,-0.011158,0.015504,NaN,-0.031416,...,0.011948,0.007039,0.002317,-0.065192,NaN,-0.056385,NaN,0.012981,-0.019458,NaN
1999-05-26,NaN,NaN,NaN,0.059914,NaN,NaN,-0.001404,-0.039221,NaN,-0.037520,...,0.000000,0.021590,-0.013986,0.040961,NaN,0.016111,NaN,0.021591,0.018444,NaN
1999-05-27,NaN,NaN,NaN,-0.012847,NaN,NaN,-0.011300,0.023717,NaN,0.012664,...,-0.016767,-0.038885,0.004684,-0.027120,NaN,0.011351,NaN,0.015415,0.001014,NaN

In [19]:
# We can also create a subset of selected dates: using loc
dates_subset = dataframe.loc['2017-01-01':'2018-12-31']

dates_subset

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,0.020207,-0.008388,0.008714,0.002845,-0.003359,NaN,0.016525,-0.004646,-0.005736,0.005135,...,-0.001967,0.006956,0.015299,0.319436,0.002622,-0.001897,0.001259,0.005697,0.003247,0.001120
2017-01-04,0.013036,0.008602,0.008172,-0.001120,0.014002,NaN,0.007907,0.007077,0.002401,0.006358,...,0.004421,-0.011063,0.008155,0.037042,0.014794,0.003632,0.009152,0.009003,0.014256,0.009656
2017-01-05,-0.011961,-0.017497,-0.000698,0.005072,0.007556,NaN,0.008601,-0.010225,-0.015104,0.016854,...,0.000000,-0.015019,-0.013114,-0.004205,-0.009171,0.003305,0.006404,-0.026547,-0.016342,-0.003332
2017-01-06,0.030680,0.006949,-0.013177,0.011087,0.000314,NaN,0.026840,0.009879,0.011328,0.022315,...,0.002937,-0.000565,-0.000686,-0.015570,-0.007034,0.012025,0.000095,0.014176,0.006477,0.003147
2017-01-09,0.003121,0.018652,-0.000590,0.009118,0.006563,NaN,-0.000981,-0.014561,-0.011241,0.002490,...,-0.015267,-0.016635,0.003083,-0.005723,-0.004245,0.002790,0.019249,0.000116,-0.010896,-0.002776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-24,-0.009844,-0.035045,-0.016582,-0.026215,-0.008990,NaN,-0.025748,-0.029794,-0.026066,-0.017587,...,-0.046240,-0.039068,-0.005344,-0.021439,-0.033011,-0.012789,-0.021872,-0.023172,-0.014181,-0.029823
2018-12-26,0.044778,0.082937,0.040209,0.068053,0.056366,NaN,0.060086,0.044171,0.039172,0.083157,...,0.019561,0.046672,0.047635,0.040399,0.046009,0.033561,0.048090,0.065151,0.050631,0.044890
2018-12-27,0.014241,-0.007773,-0.002195,-0.006511,0.009724,NaN,0.014403,0.023638,0.010021,0.009775,...,0.008504,0.004361,0.000485,-0.001016,0.016665,0.010721,-0.000688,0.018385,-0.001235,0.016861
2018-12-28,-0.005383,-0.006576,0.004966,0.000512,0.013368,NaN,0.006492,-0.005668,-0.004211,-0.008968,...,-0.007082,-0.011232,-0.000539,0.011259,-0.000765,0.007121,0.009199,0.003983,-0.000742,0.001896
2018-12-31,0.022486,0.008758,0.012783,0.009619,0.011674,NaN,0.017292,0.012427,0.008475,0.013842,...,0.000406,0.000293,0.002961,0.005582,0.021513,0.003378,0.010370,0.020686,0.007639,0.012351

In [20]:
# We can create a subset of both columns and dates
mixed_subset = dataframe.loc['2017-01-01':'2018-12-31', stocks]

mixed_subset

                AAPL      GOOG      META      MSFT      TSLA
Date
2017-01-03  0.002845  0.018384  0.015610  0.007056  0.015325
2017-01-04 -0.001120  0.000966  0.015538 -0.004484  0.045055
2017-01-05  0.005072  0.009007  0.016544  0.000000 -0.001058
2017-01-06  0.011087  0.015161  0.022453  0.008631  0.009918
2017-01-09  0.009118  0.000620  0.012001 -0.003188  0.009863
...              ...       ...       ...       ...       ...
2018-12-24 -0.026215 -0.003395 -0.007148 -0.042635 -0.079305
2018-12-26  0.068053  0.062769  0.078417  0.066078  0.098877
2018-12-27 -0.006511  0.004243  0.002531  0.006146 -0.031020
2018-12-28  0.000512 -0.006536 -0.009861 -0.007838  0.054598
2018-12-31  0.009619 -0.001418 -0.015968  0.011685 -0.003210

[502 rows x 5 columns]

In [21]:
# Concatenate by Columns
subset_1 = dataframe[['NVDA', 'MSFT']]
subset_2 = dataframe[['AMZN', 'WMT']]

concat_1 = pd.concat([subset_1, subset_2], axis=1)

concat_1

                NVDA      MSFT      AMZN       WMT
Date
1999-01-05       NaN  0.038266  0.050976  0.007721
1999-01-06       NaN  0.031908  0.102948  0.016782
1999-01-07       NaN -0.004971  0.140864  0.017992
1999-01-08       NaN -0.004162  0.008617 -0.007457
1999-01-11       NaN -0.015973  0.141592 -0.022711
...              ...       ...       ...       ...
2024-12-24  0.003930  0.009330  0.017573  0.025462
2024-12-26 -0.002070 -0.002781 -0.008770  0.001186
2024-12-27 -0.021088 -0.017453 -0.014641 -0.012253
2024-12-30  0.003497 -0.013328 -0.011010 -0.011963
2024-12-31 -0.023550 -0.007869 -0.008668 -0.002432

[6540 rows x 4 columns]

In [22]:
# Concatenate by Rows
subset_3 = dataframe.loc['2017-01-01':'2018-12-31']
subset_4 = dataframe.loc['2019-01-01':'2020-12-31']

concat_2 = pd.concat([subset_3, subset_4], axis=0)

concat_2

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,0.020207,-0.008388,0.008714,0.002845,-0.003359,NaN,0.016525,-0.004646,-0.005736,0.005135,...,-0.001967,0.006956,0.015299,0.319436,0.002622,-0.001897,0.001259,0.005697,0.003247,0.001120
2017-01-04,0.013036,0.008602,0.008172,-0.001120,0.014002,NaN,0.007907,0.007077,0.002401,0.006358,...,0.004421,-0.011063,0.008155,0.037042,0.014794,0.003632,0.009152,0.009003,0.014256,0.009656
2017-01-05,-0.011961,-0.017497,-0.000698,0.005072,0.007556,NaN,0.008601,-0.010225,-0.015104,0.016854,...,0.000000,-0.015019,-0.013114,-0.004205,-0.009171,0.003305,0.006404,-0.026547,-0.016342,-0.003332
2017-01-06,0.030680,0.006949,-0.013177,0.011087,0.000314,NaN,0.026840,0.009879,0.011328,0.022315,...,0.002937,-0.000565,-0.000686,-0.015570,-0.007034,0.012025,0.000095,0.014176,0.006477,0.003147
2017-01-09,0.003121,0.018652,-0.000590,0.009118,0.006563,NaN,-0.000981,-0.014561,-0.011241,0.002490,...,-0.015267,-0.016635,0.003083,-0.005723,-0.004245,0.002790,0.019249,0.000116,-0.010896,-0.002776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.000085,-0.014580,0.008688,0.007683,-0.000194,-0.020266,0.008341,-0.006291,-0.000544,0.005919,...,0.004964,-0.004078,0.004061,-0.008818,0.005201,0.006999,0.003423,-0.007533,-0.003915,0.005428
2020-12-28,0.004423,0.025222,-0.011769,0.035141,0.001838,-0.038446,-0.005182,0.013392,0.009208,-0.001822,...,0.010619,0.003360,0.009411,0.030530,0.001196,0.020615,-0.002415,0.015011,0.000461,0.010337
2020-12-29,-0.005105,-0.012531,-0.013376,-0.013404,0.012011,0.006689,0.004997,-0.000849,-0.007421,0.006313,...,0.001530,-0.011324,-0.020472,-0.016021,-0.008605,-0.003011,0.023629,-0.011964,-0.013700,0.004485
2020-12-30,0.001364,0.018120,0.006171,-0.008564,0.005430,-0.010522,0.001015,0.007901,-0.000854,-0.009324,...,0.003510,0.007964,0.004089,0.010099,0.012682,0.000548,-0.001510,0.014991,0.010467,0.007025
2020-12-31,0.009327,-0.023811,-0.000952,-0.007732,0.017701,-0.011042,0.009636,0.013678,0.014150,0.005353,...,0.015417,-0.009177,0.017338,0.013021,0.009972,-0.008713,0.012210,0.001510,0.005077,0.007460

In [23]:
# Find specific ofbservations
observation_1 = dataframe.at['2017-01-03', 'AAPL']

observation_1

0.0028451684629269

In [24]:
# Operations with DataFrames using operands
addition_1 = dataframe['AAPL'] + dataframe['MSFT']
subtraction_1 = dataframe['AAPL'] - dataframe['MSFT']
multiplication_1 = dataframe['AAPL'] * dataframe['MSFT']
division_1 = dataframe['AAPL'] / dataframe['MSFT']

In [25]:
# Operations with DataFrames using methods
addition_2 = dataframe['AAPL'].add(dataframe['MSFT'])
subtraction_2 = dataframe['AAPL'].sub(dataframe['MSFT'])
multiplication_2 = dataframe['AAPL'].mul(dataframe['MSFT'])
division_2 = dataframe['AAPL'].div(dataframe['MSFT'])

In [26]:
# Filtering
filter_1 = (dataframe['AAPL'] < 0.0)
filtered_dataframe_1 = dataframe[stocks][filter_1]

filtered_dataframe_1

                AAPL      GOOG      META      MSFT      TSLA
Date
1999-01-06 -0.036742       NaN       NaN  0.031908       NaN
1999-01-14 -0.116775       NaN       NaN -0.014445       NaN
1999-01-15 -0.001512       NaN       NaN  0.054902       NaN
1999-01-19 -0.010648       NaN       NaN  0.038482       NaN
1999-01-20 -0.007674       NaN       NaN  0.043998       NaN
...              ...       ...       ...       ...       ...
2024-12-11 -0.005179  0.053139  0.021343  0.012686  0.057611
2024-12-18 -0.021655 -0.035999 -0.036581 -0.038285 -0.086424
2024-12-27 -0.013331 -0.015647 -0.005885 -0.017453 -0.050745
2024-12-30 -0.013352 -0.006982 -0.014391 -0.013328 -0.033569
2024-12-31 -0.007083 -0.011746 -0.009739 -0.007869 -0.033050

[3078 rows x 5 columns]

In [27]:
# Multiple Conditions
filter_2 = (dataframe['AAPL'] < 0.0) & (dataframe['MSFT'] > 0.0)
filtered_dataframe_2 = dataframe[stocks][filter_2]

filtered_dataframe_2

                AAPL      GOOG      META      MSFT      TSLA
Date
1999-01-06 -0.036742       NaN       NaN  0.031908       NaN
1999-01-15 -0.001512       NaN       NaN  0.054902       NaN
1999-01-19 -0.010648       NaN       NaN  0.038482       NaN
1999-01-20 -0.007674       NaN       NaN  0.043998       NaN
1999-02-05 -0.042129       NaN       NaN  0.005877       NaN
...              ...       ...       ...       ...       ...
2024-10-30 -0.015396  0.028797 -0.002498  0.001342 -0.007620
2024-11-01 -0.013369 -0.000232 -0.000740  0.009844 -0.003488
2024-11-06 -0.003272  0.039577 -0.000664  0.020971  0.137595
2024-12-06 -0.000823  0.012429  0.024078  0.002144  0.052021
2024-12-11 -0.005179  0.053139  0.021343  0.012686  0.057611

[981 rows x 5 columns]

In [28]:
# Apply
squared_dataframe = dataframe.apply(lambda x: x**2)

squared_dataframe

,A,AAL,AAP,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-05,NaN,NaN,NaN,0.002380,NaN,NaN,0.000002,0.001536,NaN,0.000463,...,5.176237e-06,7.469918e-05,0.000094,0.000358,NaN,0.000372,NaN,0.000285,0.000010,NaN
1999-01-06,NaN,NaN,NaN,0.001350,NaN,NaN,0.000059,0.000000,NaN,0.001330,...,2.056440e-05,1.533016e-03,0.000092,0.000364,NaN,0.000230,NaN,0.000004,0.000001,NaN
1999-01-07,NaN,NaN,NaN,0.005619,NaN,NaN,0.000169,0.000034,NaN,0.000441,...,2.056440e-05,2.790292e-06,0.000006,0.000021,NaN,0.000025,NaN,0.000516,0.000053,NaN
1999-01-08,NaN,NaN,NaN,0.000000,NaN,NaN,0.000015,0.000034,NaN,0.000201,...,4.680496e-05,3.445818e-05,0.000146,0.000021,NaN,0.000006,NaN,0.010929,0.000004,NaN
1999-01-11,NaN,NaN,NaN,0.000371,NaN,NaN,0.000175,0.002323,NaN,0.000015,...,5.358996e-04,1.771152e-03,0.001028,0.000206,NaN,0.000680,NaN,0.002036,0.000757,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,0.000123,0.000033,2.090856e-07,0.000130,0.000081,0.000012,0.000015,0.000039,0.000063,0.000007,...,5.197950e-05,8.840875e-07,0.000007,0.000555,0.000030,0.000072,2.010216e-05,0.000149,0.000116,0.000007
2024-12-26,0.000004,0.000000,1.344444e-04,0.000010,0.000020,0.000006,0.000020,0.000008,0.000011,0.000024,...,1.934685e-07,7.148579e-07,0.000187,0.000043,0.000007,0.000054,2.172398e-07,0.000013,0.000047,0.000025
2024-12-27,0.000005,0.000000,1.662217e-05,0.000178,0.000044,0.000207,0.000006,0.000041,0.000141,0.000067,...,3.443870e-07,8.815732e-09,0.000010,0.000005,0.000063,0.000032,1.259835e-05,0.000392,0.000148,0.000031
2024-12-30,0.000069,0.000238,1.951467e-03,0.000178,0.000104,0.000141,0.000370,0.000024,0.000108,0.000002,...,6.568335e-05,4.603290e-05,0.000238,0.000706,0.000114,0.000162,1.346128e-04,0.000182,0.000044,0.000209
2024-12-31,0.000002,0.000118,7.060230e-04,0.000050,0.000072,0.000009,0.000008,0.000025,0.000004,0.000006,...,1.073541e-06,2.879608e-04,0.000308,0.000725,0.000005,0.000023,4.751054e-06,0.000038,0.000002,0.000018